body {
    font-family: "JetBrains Mono";
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: block;

    margin-top: 1rem;
    margin-left: 1rem;

    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;

    border-radius: 15px;

    background-color: gray;
}
a:hover {
    background-color: red;
}
