#add-task {
    color: white;
    font-size: 1.5rem;
    background-color: transparent;

    border-color: transparent;
    border-color: transparent;
    border-radius: 1rem;

    padding: 0.3rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

#submit-task {
    background-color: red;
    color: white;

    border-color: transparent;
    border-radius: 1rem;

    padding: 0.3rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

#cancel-task-editor {
    background-color: grey;
    color: white;

    border-color: transparent;
    border-radius: 1rem;

    padding: 0.3rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.container {
    margin-left: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    gap: 1rem;
}

.header {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.unfinished-task,
.finished-task {
    border: 1px solid;
    border-radius: 1rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 15rem;
    padding-left: 1.5rem;
}

.finished-task {
    color: gray;
    border-color: gray;
    text-decoration: line-through;
}

.unfinished-task {
    border-color: white;
}

.task-title {
    /* These properties seem redundant, but are there for the add-task form */
    background-color: transparent;
    border-color: transparent;
    color: white;

    font-size: 1.2rem;
    font-weight: 500;
}

.description {
    /* This property seems redundant, but is there for the add-task form */
    border-color: transparent;

    background-color: transparent;
    color: grey;
    font-size: 1rem;
    font-style: italic;
}
