body {
    background-color: black;
    color: white;
}

#header {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: "JetBrains Mono";
    font-weight: 600;
}

#add-task {
    color: white;
    font-size: 1.5rem;
    background-color: transparent;
    border-color: transparent;
}

.container {
    margin-left: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    gap: 1rem;
}

.unfinished-task,
.finished-task {
    border: 1px solid;
    border-radius: 1rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 15rem;
    padding-left: 0.5rem;
}

.finished-task {
    color: gray;
    border-color: gray;
    text-decoration: line-through;
}

.unfinished-task {
    border-color: white;
}

.task-title {
    font-size: 1.2rem;
    font-family: "JetBrains Mono";
    font-weight: 500;
}

.description {
    color: grey;
    font-size: 1rem;
    font-family: "JetBrains Mono";
    font-style: italic;
}
