{% extends "layout.html" %} 

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="static/css/global.css">
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
{% endblock %}

{% block title %}ToDoIt{% endblock %} 

{% block body%}
    <div class="container">
        <div class="header">Tasks</div>
        <button id="add-task" class="btn">Add task <i class="bi bi-plus-lg"></i></button> 
        <form class="unfinished-task" id="task-editor" hidden autocomplete="off" method="POST">
            <input name="title" id="title-editor" class="task-title" placeholder="Add task title..."></input>
            <br>
            <input name="description" class="description" id="description-editor" placeholder="Add description..."></input>
            <br>
            <button id="submit-task" type="submit">Add task <i class="bi bi-plus-lg"></i></button>
            <button id="cancel-task-editor" type="btn">Cancel</button>
        </form>
        {% for task in tasks %}
            <form class="{% if task.completed == 0 %}finished-task{% else %} unfinished-task{% endif %}">
                <div class="task-title">{{ task.title }}</div>
                <div class="description">{{ task.description }}</div>
                <div id="task-id" value="{{ task.id }}"></div>
                <input type="checkbox" class="checkbox"></input>
            </form>
        {% endfor %}
    </div>
{% endblock %}
