{% extends "layout.html" %} 

{% block title %}ToDoIt{% endblock %} 

{% block body%}
    <div id="header">Tasks</div>
    <button id="add-task" class="btn">Add task <i class="bi bi-plus-lg"></i></button> 
    <div class="unfinished-task">
        <div class="task-title">Task 1</div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor porta gravida. Cras a pulvinar augue, et luctus tellus. Donec.</div>
        <input type="checkbox" class="checkbox"></input>
    </div>
    <div class="finished-task">
        <div class="task-title">Task 2</div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor porta gravida. Cras a pulvinar augue, et luctus tellus. Donec.</div>
        <input type="checkbox" class="checkbox"></input>
    </div>
{% endblock %}
