<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    {% block stylesheet %}{% endblock %}

    <script src="static/script.js" defer></script>
    
    <title>{% block title %}{% endblock %}</title>
</head>
    <body>
        <button id="register-page-link" onclick="window.location.href='register'">Register</button>
        <button id="login-page-link" onclick="window.location.href='login'">Login</button>
        {% block body %}{% endblock %}
    </body>
</html>