<!-- TODO: Add link to login.html so that the user can login if they already have an account -->

{% extends "layout.html" %} 

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="static/css/register.css">
{% endblock %}

{% block title %}Register{% endblock %} 

{% block body%}
    <div class="container">
        <div id="error">{{ error }}</div>
        <div class="header">Register</div>
        <form method="POST">
            <input id="username" name="username" placeholder="Username..."></input>
            <br>
            <input id="password" type="password" name="password" placeholder="Password..."></input>
            <br>
            <input id="confirm-password" type="password" name="confirm-password" placeholder="Confirm Password..."></input>
            <br>
            <button id="create-account" type="submit">Create account</button>
        </form>
    </div>
{% endblock %}
